body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font: 16px/1.4 Inter, Arial, sans-serif;
  background: bottom right 25% / 40% no-repeat url('../assets/image/bg-forest.svg'),
    #312b2b;
}

.main {
  width: max(294px, min(90%, 860px));
  margin: 0 auto;
  color: white;
  padding-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
  gap: 1.5rem;
  row-gap: 0.25rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__button_gallery {
  background-color: #139d59;

  &:hover {
    background-color: #1c7549;
  }
}

.logo {
  font-size: calc(26px + 1vw);
  margin: 0;
  font-weight: 600;
  color: white;
  cursor: pointer;
  margin-right: auto;
  background-image: linear-gradient(to top, #ffffff, rgb(177, 177, 177));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    font-weight: 400;
  }
}

.greet__banner {
  border-radius: 1rem;
  max-width: 100%;
}

.greet__heading {
  font-size: 2rem;
  font-weight: 500;
}

.greet_button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
}

.quiz__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.5rem;
  background-image: linear-gradient(to right, #111, #222);
}

.score {
  display: flex;
  gap: 0.75rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.scoreValue {
  font-weight: bold;
}

.question__audio-description {
  flex-grow: 1;
}

.question-list {
  display: flex;
  margin-left: auto;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.question-list__item {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid #333;
  display: grid;
  place-content: center;
  box-shadow: inset 0 2px 3px #000;
  &_active {
    background-color: #222;
    box-shadow: 0 4px 3px #000;
  }
  &_past {
    background-color: hsl(152deg 67% 34% / 53%);
    box-shadow: none;
    border-color: transparent;
  }
}

.question-list__dash {
  width: 1rem;
  height: 2px;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.question__bird-audio {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.question__description {
  line-height: 160%;
}

.question-bird__name {
  margin: 0;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-top: 4px;
}

.question-bird__img {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  object-fit: cover;
  aspect-ratio: 1;
  background-position: center;
  box-shadow: 0 2px 6px hsl(0, 0%, 8%);

  &_empty {
    background-color: hsl(0, 0%, 12%);
    box-shadow: inset 0 0 8px hsl(0, 0%, 5%);
    padding: 2rem;
  }
}

.question__container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.question__answers-list {
  // width: 50%;
  width: min(430px, 100%);
}

.answers-list__item {
  @extend .button;
  margin-bottom: 1rem;
}

.question_button-next {
  padding: 24px;
  background-color: #41a55e;
  flex-grow: 1;
  position: relative;
  &:hover {
    background-color: #347547;
  }
}

.lang-option {
  cursor: pointer;
  color: #bdbdbd;
  padding: 0.5rem;
}


.lang-switch {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}

.lang-switch input:checked + label {
  color: white;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .question-list__dash {
    display: none;
  }
  .question__bird-audio {
    flex-wrap: wrap;
  }

}