.audio-player
  audio.my-audio(src="" loop)
  .controls
    button.button_play: span.material-symbols-outlined play_circle
    .timebar
      input.progress(type="range" max="100" value="0" step="0.5")
      .timer
        span.current-time 0:00
        span.duration-time 0:00
      input.volume(type="range" max="100" value="100")