.button {
  color: white;
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  font-family: Inter, Arial, sans-serif;
  transition: background-color 0.2s;
  letter-spacing: 0.3px;
  position: relative;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  &::before {
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &_active_true {
    @extend .button;
    pointer-events: none;
    background-color: hsla(0, 0%, 100%, 0.3);
    color: #32bf59;
    &::before {
      background-color: #32bf59;
    }
  }
  &_active_false {
    @extend .button;
    pointer-events: none;
    &::before {
      background-color: tomato;
    }
  }
}

.button_gratz {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: #41a55e;
  &:hover {
    background-color: #347547;
  }
}