.gratz {
  position: fixed;
  top: 40%;
  left: 50%;
  width: min(660px, 100%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.gratz__text {
  font-size: calc(24px + 2vw);
  color: white;
  font-weight: bold;
  margin: 0;
}

.gratz__ura {
  @extend .gratz__text;
  font-size: calc(24px + 6vw);
  margin: 0;
}