.gratz {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.gratz__text {
  font-size: 64px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.gratz__ura {
  @extend .gratz__text;
  font-size: 90px;
  margin: 0;
}