include pug/libs/_libs

doctype html
html(lang="ru")
  include pug/_head
  body
    main.main
      header.header
        h1.logo.hover-scale song#[span bird]
        form.lang-switch
          input(id="lng-ru" type="radio" name="lang" value="ru" checked hidden)
          label.lang-option(for="lng-ru") ru
          input(id="lng-en" type="radio" name="lang" value="en" hidden)
          label.lang-option(for="lng-en") en
        button.button.header__button_new-game.lng-newg(hidden) Заново
        button.button.header__button_gallery.lng-gallery Галерея птиц
      article.greet
        img(class="greet__banner" src=require('./assets/image/bird-banner.webp'))
        h2.greet__heading.lng-whats-on Что здесь происходит:
        p.lng-p1 Это викторина, здесь вы попробуете угадать птицу по её пению.
        p.lng-p2 5 баллов если узнали с первой попытки.
        p.lng-p3 За неверный ответ минус один балл.
        p.lng-p4 Приз только за выполнение без ошибок!
        p.lng-p6 П.С. Послушайте лес в галерее.
        button.button.greet_button.lng-btngreet Приступить
      article.quiz(hidden)
        header.quiz__header
          .score
            .text.lng-score счёт:
            .scoreValue 0
          .question-list
            .question-list__item 1
            .question-list__dash
            .question-list__item 2
            .question-list__dash
            .question-list__item 3
            .question-list__dash
            .question-list__item 4
            .question-list__dash
            .question-list__item 5
            .question-list__dash
            .question-list__item 6
        .question
          .question__bird-audio
            .question__bird
              img(class="question-bird__img" width="200" height="200")
              p.question-bird__name.lng-birdblack Птица 1
            .question__audio-description
              p.question__description.lng-bird-descr Прослушайте пение и угадайте птицу
          .question__container
            .question__answers-list
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
            .question__right
              button.button.question__button-next.lng-next.question__button-next_inactive Далее
              .question-right__bird(hidden)
                .question-right__name
                .question-right__kind
                img.question-right__img.question-bird__img(width="140" height="140" hidden)
                .question-right__player
                .question-right__desc
    footer.footer
      span ©2022
      a(href="https://github.com/wave103x"): img.hover-scale.git(src=require('./assets/icon/githubLogo.svg'))
      a(href="https://rs.school/js/"): img.hover-scale.rs-logo(src=require('./assets/icon/rs_school_js.svg'))
