<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title="Songbird"
  body
    main.main
      header.header
        h1.logo song<span>bird</span>
        button.button.header__button_new-game(hidden) Заново
        button.button.header__button_gallery Галерея птиц
      article.greet
        img(class="greet__banner" src=require('./assets/image/bird-banner.webp'))
        h2.greet__heading Что здесь происходит:
        p Это викторина, здесь вы попробуете угадать птицу по её пению.
        p Узнали с первой попытки - получите 5 баллов.
        p Каждое неверное предположение - минус один балл.
        p Приз только за выполнение без ошибок!
        p Попытки не ограничены.
        button.button.greet_button Приступить
      article.quiz(hidden)
        header.quiz__header
          .score
            .text Ваш счёт:
            .scoreValue 0
          .question-list
            .question-list__item 1
            .question-list__item 2
            .question-list__item 3
            .question-list__item 4
            .question-list__item 5
        .question
          .question__bird-audio
            .question__bird
              img.question-bird__img(src=require('./assets/icon/bird-black.svg'))
              p.question-bird__name Птица 1
            audio.question__audio(controls preload="auto")
                source
          p.question__description Прослушайте пение и угадайте птицу
          .question__container
            .question__answers-list
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
              .answers-list__item one
            button.button.question_button-next(hidden) Далее
